name: deno-ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Format check
        run: deno task fmt

      - name: Lint
        run: deno task lint

      - name: Type check
        run: deno task check

      - name: Run demo tests
        run: deno task demo
